{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": "eslint:recommended",
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "no-unused-vars": "warn",
    "no-console": "warn",
    "no-constant-condition": "warn"
  },
  "globals": {
    "$": true,
    "JSSMS": true,
    "DEBUG": true,
    "ENABLE_DEBUGGER": true,
    "ENABLE_COMPILER": true,
    "WRITE_MODE": true,
    "READ_MODE": true,
    "ENABLE_SERVER_LOGGER": true,
    "SYNC_MODE": true,
    "ACCURATE": true,
    "LITTLE_ENDIAN": true,
    "FORCE_TYPED_ARRAYS": true,
    "SUPPORT_TYPED_ARRAYS": true,
    "FORCE_DATAVIEW": true,
    "SUPPORT_DATAVIEW": true,
    "FORCE_DESTRUCTURING": true,
    "SUPPORT_DESTRUCTURING": true,
    "SAMPLE_RATE": true,
    "DEBUG_TIMING": true,
    "REFRESH_EMULATION": true,
    "ACCURATE_INTERRUPT_EMULATION": true,
    "LIGHTGUN": true,
    "VDP_SPRITE_COLLISIONS": true,
    "PAGE_SIZE": true,
    "NTSC": true,
    "PAL": true,
    "SMS_X_PIXELS": true,
    "SMS_Y_PIXELS_NTSC": true,
    "SMS_Y_PIXELS_PAL": true,
    "SMS_WIDTH": true,
    "SMS_HEIGHT": true,
    "GG_WIDTH": true,
    "GG_HEIGHT": true,
    "P1_KEY_UP": true,
    "P1_KEY_DOWN": true,
    "P1_KEY_LEFT": true,
    "P1_KEY_RIGHT": true,
    "P1_KEY_FIRE1": true,
    "P1_KEY_FIRE2": true,
    "KEY_UP": true,
    "KEY_DOWN": true,
    "KEY_LEFT": true,
    "KEY_RIGHT": true,
    "KEY_FIRE1": true,
    "KEY_FIRE2": true,
    "KEY_START": true,
    "HALT_SPEEDUP": true,
    "OP_STATES": true,
    "OP_CB_STATES": true,
    "OP_DD_STATES": true,
    "OP_INDEX_CB_STATES": true,
    "OP_ED_STATES": true,
    "Recompiler": true,
    "SyncWriter": true,
    "SyncReader": true,
    "opcodeTable": true
  }
}
