#romContainer, #load, #fullscreen {
  background: url(../img/headers/ui/separator.png) no-repeat left center;
}

.disabled {
  opacity: .33;
}

#romSelector {
  height: 5rem;
  width: 5rem;
  border: 0;
  opacity: 0;
}

#romSelector > * {
  font: normal 10px "mozTT", sans-serif;
  opacity: 1;
}

#load {
  height: 5rem;
  min-width: 5rem;
  width: auto;
  margin-bottom: 0px;
  border-radius: 0px 0px 0px 0px;
  line-height: 5rem;
  float: left;
  padding: 0px 1.75rem;
  -moz-box-sizing: border-box;
  text-align: center;
  text-shadow: none;
  position: relative;
  z-index: 5;
}

.show {
  display: block !important;
}

.fadeout {
  opacity: 0;
}

#installation-instructions {
  color: #fff;
  display: none;
  position: absolute;
  right: 0;
  padding: 0 8px;
  margin: 16px 8px;
  background: rgba(127, 127, 127, 0.5);
  border-radius: 4px;
  font-size: 1.25rem;
  transition: .5s linear;
}

#installation-instructions:after {
  content: "";
  border-color: rgba(127, 127, 127, 0.5) transparent;
  border-style: solid;
  border-width: 0 16px 16px;
  top: -16px;
  display: block;
  position: absolute;
  right: 8px;
  width: 0;
}

#emulator > div {
  text-align: center;
}

#screen {
  width: 100%;
  margin: auto;
}

#screen canvas {
  background: #000;
  width: 100%;
  margin: auto;
  display: block;
  image-rendering: -moz-crisp-edges; /* FF 6.0+ */
  image-rendering: -o-crisp-edges; /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Webkit (Safari now, Chrome soon) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor; /* IE */
}

#screen:-webkit-full-screen {
  height: 100%;
  width: 100%;
}

.gamepad {
  height: 80px;
  position: relative;
  margin: 0 20px;
}

div .direction > div,
div .buttons > div {
  width: 40px;
  height: 40px;
  float: left;
  display: inline;
}

div .direction {
  background: lightgrey;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.up, .down {
  background: darkgrey;
}

.up {
  border-radius: 40px 0 0 0;
}

.down {
  border-radius: 0 0 40px 0;
}

div .buttons {
  position: absolute;
  right: 0;
  top: 20px;
}

div .buttons .start {
  background: darkblue;
  border-radius: 0 40px 40px 0;
  width: 25px;
}

.fire1, .fire2 {
  background: black;
  margin-left: 10px;
  border-radius: 40px;
}

@media (orientation: portrait) {
  #screen canvas {
    height: auto;
    width: 100%;
  }
}

@media (orientation: landscape) {
  #screen canvas {
    height: 100%;
    width: auto;
  }
}
