/* See http://twitter.github.io/bootstrap/scaffolding.html */

/* Large desktop */
@media (min-width: 1200px) {
    .visible-phone {
        display: none;
    }

    .visible-tablet {
        display: none;
    }

    .hidden-desktop {
        display: none;
    }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    .visible-phone {
        display: none;
    }

    .hidden-tablet {
        display: none;
    }

    .hidden-desktop {
        display: none;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    .hidden-phone {
        display: none;
    }

    .hidden-tablet {
        display: none;
    }

    .visible-desktop {
        display: none;
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
    .hidden-phone {
        display: none;
    }

    .visible-tablet {
        display: none;
    }

    .visible-desktop {
        display: none;
    }
}

/* Portrait phones */
@media (max-width: 320px) {
    .hidden-small-phone {
        display: none;
    }
}
